@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-800;
  @apply font-mono;
  @apply text-white;
}

.section-1{
  justify-content: space-evenly;
}

.section-1-heading{
  height: 10%;
}

.section-1-content{
  height: 80%;
  justify-content: space-evenly;
}

.section-2 {
  background: linear-gradient(270deg, #F97316, #FFB627, #E2711D);
  background-size: 200% 200%;
  animation: Gradient 5s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes Gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.section-2-content{
  
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.loader {
  border-top-color: #F97316;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dashboard-header{
  height: 8vh;
}
.summarziations-list{
  overflow-x: hidden;
  overflow-y: scroll;
}

.dashboard-main{
  overflow: hidden;
  height: 92vh;
  width: 100%;
}

.dashboard-header svg{
  transform: scale(0.8);
}

.dashboard-sidebar{
  min-height: 30vh;
}